@use "reset.scss";
@use "vars.scss";
@use "mixins.scss";

.header {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 2;
  transition: all 0.4s linear;

  &.scrolled {
    background-color: rgba(37, 43, 73, 0.8);

    .header__container::after {
      width: 0;
      left: 50%;
    }
  }

  &.open {
    background-color: rgba(37, 43, 73, 0.8);
    height: 100vh;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    row-gap: 28px;

    &::after {
      content: "";
      position: absolute;
      left: 20px;
      bottom: 0;
      margin: 0 auto;
      border-bottom: 1px solid #babbc5;
      max-width: 1130px;
      width: calc(100% - 40px);
      transition: all 0.4s linear;

      @media only screen and (max-width: 767px) {
        display: none;
      }
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 183.862px;

    svg {
      width: 100%;
      height: 100%;
    }

    @media only screen and (max-width: 767px) {
      max-width: 103.472px;
    }
  }

  &__menu {
    display: none;

    svg {
      pointer-events: none;
    }

    @media only screen and (max-width: 767px) {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 55px;
      max-height: 56px;
      background-color: transparent;
      border: none;
    }
  }
}

.pop-up-menu {
  display: none;

  &.open {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    .pop-up-menu__item {
      display: block;
      color: #fff;
      text-decoration: none;
      @include mixins.text("Raleway", 13px, 700, 15.26px);
      text-transform: uppercase;
      padding: 23.87px 0;
    }
  }
}

.nav {
  display: flex;

  @media only screen and (max-width: 767px) {
    display: none;
  }

  &__item {
    min-width: 134px;
    padding: 36px 0;
    display: block;
    position: relative;
    text-decoration: none;
    color: #fff;
    text-align: center;
    @include mixins.text("Raleway", 13px, 700, 15.26px);
    text-transform: uppercase;

    &::after {
      content: "";
      position: absolute;
      display: none;
      width: 100%;
      bottom: 0;
      left: 0;
      border-bottom: 3px solid #babbc5;
    }

    &:hover::after {
      display: block;
    }

    &:active {
      color: vars.$btn-hover-color;

      &::after {
        border-color: vars.$btn-hover-color;
      }
    }

    @media only screen and (max-width: 1024px) {
      min-width: 112px;
      flex-shrink: 1;
      font-size: 12px;
    }

    @media only screen and (max-width: 785px) {
      min-width: 100px;
    }
  }
}

.banner {
  padding: 230px 0 120px;
  background-image: url(../img/header-img.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  margin-bottom: 116px;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(37, 43, 73, 0.8);
  }

  @media only screen and (max-width: 1024px) {
    padding: 257px 0 126px;
    margin-bottom: 78px;
  }

  @media only screen and (max-width: 767px) {
    padding: 106px 0 52px;
    margin-bottom: 40px;
  }

  &__container {
    position: relative;
    z-index: 1;
  }

  &__title {
    color: #fff;
    text-align: center;
    @include mixins.text("Raleway", 64px, 900, 75.14px);
    text-transform: uppercase;
    margin-bottom: 31.43px;

    @media only screen and (max-width: 1024px) {
      font-size: 48px;
      line-height: 56.35px;
      margin-bottom: 61.86px;
    }

    @media only screen and (max-width: 767px) {
      font-size: 36px;
      line-height: 42.26px;
      margin-bottom: 32.71px;
    }
  }

  &__text {
    color: #fff;
    text-align: center;
    @include mixins.text("Raleway", 24px, 400, 28.18px);
    max-width: 1010px;
    margin: 0 auto 79.57px;

    @media only screen and (max-width: 1024px) {
      font-size: 18px;
      line-height: 21.13px;
      margin-bottom: 89.14px;
    }

    @media only screen and (max-width: 767px) {
      font-size: 14px;
      line-height: 16.44px;
      margin-bottom: 49.29px;
    }
  }
}

.btn {
  display: block;
  margin: 0 auto;
  background-color: vars.$btn-color;
  max-width: 370px;
  width: 100%;
  padding: 25.91px 0;
  text-decoration: none;
  color: #fff;
  text-align: center;
  @include mixins.text("Raleway", 24px, 900, 28.18px);
  text-transform: uppercase;

  &:hover {
    background-color: vars.$btn-hover-color;
  }

  &:active {
    background-color: vars.$btn-hover-color;
    box-shadow: 4px 4px 30px 0px #ff4343;
  }

  @media only screen and (max-width: 1024px) {
    max-width: 314px;
  }

  @media only screen and (max-width: 767px) {
    max-width: 100%;
    padding: 15.91px 0;
  }
}

.features {
  margin-bottom: 134px;

  @media only screen and (max-width: 1024px) {
    margin-bottom: 80.11px;
  }

  @media only screen and (max-width: 767px) {
    margin-bottom: 34.85px;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 87.57px;
    margin-bottom: 117px;

    @media only screen and (max-width: 1024px) {
      gap: 49.84px 20px;
    }

    @media only screen and (max-width: 767px) {
      grid-template-columns: 1fr;
      row-gap: 41.46px;
    }
  }
}

.feature {
  &__wrapper-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    max-height: 100px;
    margin: 0 auto 50px;

    @media only screen and (max-width: 1024px) {
      max-width: 85px;
      max-height: 85px;
      margin: 0 auto 43.49px;
    }

    @media only screen and (max-width: 767px) {
      margin: 0 auto 41.72px;
      max-width: 75px;
      max-height: 75px;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    color: #2d3033;
    text-align: center;
    @include mixins.text("Raleway", 24px, 900, 28.18px);
    text-transform: uppercase;
    margin-bottom: 45.43px;

    @media only screen and (max-width: 1024px) {
      font-size: 18px;
      line-height: 21.13px;
      margin-bottom: 28.43px;
    }

    @media only screen and (max-width: 767px) {
      margin-bottom: 12px;
    }
  }

  &__text {
    color: #6c7279;
    text-align: center;
    @include mixins.text("Raleway", 18px, 400, 21.13px);

    @media only screen and (max-width: 1024px) {
      font-size: 14px;
      line-height: 16.44px;
    }
  }
}

.design {
  margin-bottom: 114px;

  &__container {
    width: 100vw;
    max-width: 1510px;
    margin: 0 auto;
    padding: 0 1px;
    display: grid;
    gap: 2px 2px;
    grid-template-columns: repeat(4, 1fr);
  }

  .project {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 42px;
    aspect-ratio: 1;  

    &::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 67, 67, 0.8);
      opacity: 0;
      transition: opacity 0.4s linear;
    }

    &:hover{
      .project__title, .project__description{
        opacity: 1;
      }

      &::after{
        opacity: 1;
      }
    }

    &__img {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__title {
      opacity: 0;
      text-align: center;
      z-index: 1;
      @include mixins.text("Raleway", 24px, 900, 24px); 
      text-transform: uppercase;
      color: #fff;
      transition: opacity 0.4s linear;
    }

    &__description {
      opacity: 0;
      text-align: center;
      z-index: 1;
      color: #FFF;
      @include mixins.text("Raleway", 18px, 400, 21.13px); 
      color: #fff;
      transition: opacity 0.4s linear;
    }
  }
}
